<h3>お題を投稿しました!</h3>
<a href="http://twitter.com/share?url=https://fukyobako.herokuapp.com/odais/<%= @odai.id %>&amp;text=<%= @odai.user.username %>さんのお題:「<%= @odai.detail.truncate(90) %>」にレッツ布教！&amp;related=kiryuanzu&amp;hashtags=fukyobako" id="tweet" class="btn btn-info withripple btn-lg" target="_blank" name="tweet">twitterでお題を共有する</a>

<%= link_to "ホームに戻る", root_path %>
