// Place all the styles related to the odais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.odaiform{
	border: 2px solid black;
	background-color: linen;
	width: 800px;
	height: 140px;
	padding-left: 30px;
	padding-bottom: 10px;
	span{
		  p{padding-right: 190px;

		}
	}
}
