// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-index{
	width: 1000px;
	margin: 50px auto;
}

ul.tab{
	padding: 0;

	li{
		list-style-type: none;
		width: 200px;
		height: 40px;
		float: left;

		a{
		    outline: none;
		    background-color: honeydew;
		    display: block;
		    color: darkturquoise;
		    line-height: 40px;
		    text-align: center;

		      
		}	
	}
	
}

ul.tab li a.selected{
		                 background-color: lavenderblush;
		                 text-decoration: none;
		                 color: coral;
		                 cursor: default;
		                 font-weight: bold;


		    }

ul.panel {
	width: 100%;
	clear: both;
	border: 1px solid #9FB7D4;
	border-top: none;
	padding: 0;
	   li {
	   	    list-style-type: none;
	   	    padding: 10px;
	   	    text-indent: 1em;
	   	    color: #333;

	}
}

h2 {
	text-align: center;
}

.image{
	
	width: 100px;
	height: 80px;
	margin: auto;
	
}

.username{
	padding-left:80px;
}
.name-edit {

  text-align: center;
}
.icon-edit {
  text-align: center;
}

.twitter-icon {
	padding-left: 30px;
	font-size:15px;
	
}

.name { 
	font-size: 30px;
	color: #c53d43 ;
}

.user { 
	  
	   font-size: 20px;

}
.alarm { padding-left: 30px;}
@media only screen and (max-width: 414px) {
	.alarm { padding-left: 100px;}
	.name { 
	font-size: 30px;
	color: #c53d43 ;
     }  
    .username{padding-top:30px;
              padding-left:0px}
	
}

