body { background-image: url("/1.png");

}
.login {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding-top: 70px;

	
	
}

img.Fukyo-logo{
   width: 30px;
   height:30px;
}

.signup {
	width: 500px;
	height: 500px;
	margin-left: 350px;
}

img.Fukyochan {
   display:block;
   margin-left:auto;
   margin-right:auto;

  width: 200px;
  height: 200px;
}

.edit {
	
}

@media only screen and (max-width: 414px) {
	.login {
	width: 225px;
	height: 260px;
	margin-right:80px;
	padding-bottom:80px;
   }
   .signup {
	width: 225px;
	height: 200px;
	margin-left: 80px;
	margin-top: 10px;
}
   img.Fukyochan {
	width: 100px;
	height: 100px;
	margin-left: 75px;
}

}
