// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
	padding-left: 10px;
}

h4{
	text-align: center;
}
body{
	background-color: lavenderblush;
}

.fukyotable {　width:1000px;
	table-layout: fixed;
}

td{ word-break: break-all;
		
	}

.url{width: 50px;}

.title {
	font-size: 20px;
}
.contents{
	padding: 30px 0 0 0;
	width: 800px;
	height: 1000px;
}

.main{

	margin: 0 auto ;
	background-color: azure;
    margin-top: 100px;
	width: 600px;
	height: 500px;
}

img.Fukyoabout{
	
	 display:block;
   margin-left:auto;
   margin-right:auto;
	width: 500px;
	height: 650px;
}

#top-index{
	width: 1000px;
	margin-top: 50px;
	margin-left: 60px;
}

ul.tab{
	padding: 0;

	li{
		list-style-type: none;
		width: 200px;
		height: 40px;
		float: left;

		a{
		    outline: none;
		    background-color: white;
		    display: block;
		    color: white;
		    line-height: 40px;
		    text-align: center;

		      
		}	
	}
	
}

ul.tab li a.selected{
		                 background-color: royalblue;
		                 text-decoration: none;
		                 color: lightpink;
		                 cursor: default;


		    }

ul.panel {
	width: 80%;
	clear: both;
	border: 1px solid #9FB7D4;
	border-top: none;
	padding: 0;
	   li {
	   	    list-style-type: none;
	   	    padding: 10px;
	   	    text-indent: 1em;
	   	    color: #333;

	}
}

.count{font-size: 14px;
	   color: #696969}
.notuser { font-size: 25px;
	       padding-left: 10px;

}

@media only screen and (max-width: 414px) {
	img.Fukyoabout{
	width: 300px;
	height: 500px;
}

}

